{% if not title %}
	{% set title="Welcome to BookEditor" %}
{% endif %}

<!doctype html>
<html lang=en>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
	</head>
	<body>
		{% for msg in get_flashed_messages() %}
			<p><b>{{ msg }}</b></p>
		{% endfor %}
		<nav>
			<a href="/">Home</a> - 
			<a href="/task/add">Add book</a> - 
			{% if currentUser() %}
				<a href="/user/logout">Logout</a> - 
				{{ currentUser().email }} - 
			{% else %}
				<a href="/user/login">Login</a> - 
				<a href="/user/register">Register</a>
			{% endif %}
		</nav>

		<h1>{{ title }}</h1>
		
		{% block content %}
		<p>Welcome</p>
		{% endblock content %}

	</body>
</html>
